<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue First Try</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    <div id="app">
        <p v-for="(value) in arr_ay">
            {{ value }}
        </p>
        =======================
        <p v-for="(value, index) in arr_ay">
            {{ index }} = {{ value }}
        </p>
        =======================
        <p v-for="(value, index, key) in arr_ay">
            {{ key }} => {{ index }} = {{ value }}
        </p>


        
    </div>

    <script src="app.js"></script>
</body>
</html>